$c-white: #fff;
$c-black: #000;

$c-navy: #2d3748;
$c-navy-up: #5b7094;
$c-navy-hover: #7e94bd;
$c-navy-top: #bcc8de;
$c-light: #edf2f7;

$c-blood: #9a3f3f;
$c-blood-hover: #bf5454;

$c-pink: #ffe9e9;
$c-green: #41c179;

// $c-navy: #000;
// $c-navy-up: #999;
// $c-navy-top: #dedede;
// $c-light: #fff;

$ct-gray: rgba(0, 0, 0, 0.05);
$ct-white: rgba(255, 255, 255, 0.15);

$c-yellow: #f7d601;
$c-orange: #f78c01;
$c-red: #ca0000;